
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.name-box{
    height: 25px;
    width: 250px;
    border: 1px solid rgba(141, 141, 141, 0.473);
}

input[name=engine]:checked

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    border: 3px solid rgb(34, 150, 179);
    width: 35%;
}

input[type="radio"] {
    margin: 20px 10px 0 10px;
}

button {
    padding: 9px 25px;
    background-color: #0088a9;
    color: aliceblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0088a9cc;
}
